*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

#cadre{
    background-image: url("Frame_background.jpg");
    background-size: 100%;
    height: 821px;
}

h1{font-size: 60px;color: white;font-family: "Open Sans", serif;}
h2{color: white;font-size: 20px;font-family: "Open Sans", serif;margin-top:1%; margin-bottom: 30px}

#btnVerifierNR{
    margin-top: 10.5%;
    margin-left:43%;
    padding: 30px;
    background-color: yellowgreen;
    color: #333;
    outline: none;
    cursor:pointer;
    text-transform: uppercase;

}
input{
    margin-top: 1%;
    margin-left: 43%;
    padding: 20px;
    width: 200px;
    font-size: 40px;
    background-color:#333;
    opacity: .9;
    color: white;
    text-align: center;

}

#resultat{
    margin-left: 43%;
    margin-top: 1%;
    padding: 25px 25px 25px 25px;
    font-size: 30px;
    width: 200px;
    color: #222f3e;
    text-align: center;
    border: 3px solid #332;
}


#listeEssais{
    width: 500px;
    height: 60px;
    float: right;
    justify-items: right;
    margin-top: 6%;
    margin-right: 31%;
    color: white;
    background-color: #333;
    border: 1px solid white;
    font-size: 25px;
}
#nrEssais{
    width: 100px;
    height: 60px;
    float: left;
    justify-self: left;
    margin-top:6%;
    margin-left: 32%;
    color: white;
    background-color: #333;
    border: 1px solid white;
    font-size: 35px;
    text-align: center;
}


#compteur{
    width: 100px;
    height: 50px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}



#btnRestartGame{
    position: absolute;
    margin-top: 80px;
    margin-left:-161px;
    background: white;
    outline: none;
    cursor:pointer;
    text-transform: uppercase;
    padding: 20px;
    display: none;

}
/*------------------------------------*/
/* The Modal (background) */
#txtModal{
    margin-top: 6px;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
    border: none;
    color: white;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: darkred;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*----------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    body{
        margin:0;
        padding: 0;
    }
    h1{font-size: 50px;color: white;font-family: "Open Sans", serif;
        margin-left: 27%; margin-top:0}
    h2{color: white;font-size: 20px;font-family: "Open Sans", serif;
        margin-bottom: 30px;margin-left: 20%}

    #cadre{
        background-image: url("Frame_background_ipad.jpg");
        background-size: 100%;
        height: 768px;
    }
    #btnVerifierNR{
        margin-top: 13.5%;
        margin-left:38%;
        padding: 30px;
        background-color: yellowgreen;
        color: #333;
        outline: none;
        cursor:pointer;
        text-transform: uppercase;
    }
    #btnRestartGame{

        margin-left:-16%;
        padding: 30px;
        background-color: yellowgreen;
        color: #333;
        outline: none;
        cursor:pointer;
        text-transform: uppercase;
        display: none;
    }
    input{
        margin-top: 1%;
        margin-left: 38%;
        padding: 20px;
        width: 200px;
        font-size: 40px;
        background-color:#333;
        opacity: .9;
        color: white;
        text-align: center;

    }

    #resultat{
        margin-left: 38%;
        margin-top: 1%;
        padding: 20px 20px 20px 20px;
        font-size: 30px;
        width: 200px;
        color: #222f3e;
        text-align: center;
        border: 3px solid #332;
    }
    #listeEssais {
        width: 500px;
        height: 40px;
        float: right;
        margin-top: 2%;
        margin-right: 28%;
        color: white;
        background-color: #333;
        border: 1px solid white;
        font-size: 20px;
    }

    #nrEssais{
        width: 100px;
        height: 40px;
        float: left;
        margin-top: 10%;
        margin-left: 440px;
        color: white;
        background-color: #333;
        border: 1px solid white;
        font-size: 20px;
        text-align: center;
    }
    .modal-content {
        background-color: darkred;
        margin: 33% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 100%; /* Could be more or less, depending on screen size */
        text-align: center;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    #txtModal{
        margin-top: 6px;
        font-size: 30px;
        font-weight: bold;
        padding: 30px 30px 30px 30px;
        border: none;
        color: white;
    }
}